.background {
    background-image: url("https://picsum.photos/2000/1000");
    width: 100%;
    height: 75vh;
}

.title {
    position: relative;
    top: -600px;
    font-size: 5em;
}

.opener {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}